// Media Query Breakpoints
$breakpoint-xs: '(max-width: 37.5em)' !default;
$breakpoint-sm: '(min-width: 37.5em)' !default;
$breakpoint-md: '(min-width: 48em) and (max-width: 63.9em)' !default;
$breakpoint-md-and-up: '(min-width: 48em)' !default;
$breakpoint-lg: '(min-width: 64em)' !default;

// colors
$font: rgba(26,26,26,.7);
$btn-submit: rgba(63, 137, 56, 0.7);
$btn-submit-hover: rgba(63, 137, 56, 1);
$btn-cancel: rgba(201, 58, 51, 0.7);
$btn-cancel-hover: rgba(201, 58, 51, 1);
